
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.swot {
    border: 1px solid white;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
}

.swot .box {
    border: 1px solid white;
    box-sizing: border-box;
    color: rgba(255,255,255,0.8);
    display: table;
    float: left;
    font-size: 2em;
    height: 50%;
    position: relative;
    text-align: center;
    vertical-align: center;
    width: 50%;
}

.swot .box-full {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.swot .box .menu {
    position: absolute;
    right: 0.8em;
    top: 0.6em;
}

.swot .box .menu i {
    cursor: pointer;
    margin-left: 0.6em;
}

.swot .box .description {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.swot .box .description h2 {
    font-size: 16vh;
    font-weight: bold;
    margin: 0;
}

.swot .box .description p {
    font-size: 4vh;
    margin: 0;
}
